@import "src/App.scss";

@mixin mquery($size) {
  @if $size == 1300 {
    @media (min-width: 1300px) {
      @content;
    }
  }
}

.projects-container {
  width: 80%;
  margin: auto;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  @include mquery(1300) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.github-button {
  background-color: $highlight-font-color;
  color: $body-background-color;
  cursor: pointer;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  border-radius: 5px;
  padding: 17px;
  width: 20%;
}

.github-button:hover {
  background-color: $highlight-font-color-hover;
}
