@import "src/App.scss";

@mixin mquery($size) {
  @if $size == 1550 {
    @media (min-width: 1550px) {
      @content;
    }
  } @else if $size == 1260 {
    @media (min-width: 1260px) {
      @content;
    }
  } @else if $size == 1000 {
    @media (min-width: 1000px) {
      @content;
    }
  } @else if $size == sm-xs {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $size == xs {
    @media (min-width: 340px) {
      @content;
    }
  }
}

.skills-container {
  margin-top: 200px;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 100px;
  @include mquery(1260) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  @include mquery(1000) {
    min-width: 520px;
  }
  @include mquery(1260) {
    justify-content: flex-start;
    margin-left: 15%;
  }
  @include mquery(1550) {
    justify-content: flex-start;
    margin-left: 30%;
  }
}

.title-and-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 120%;
}

span {
  display: none;
  @include mquery(1000) {
    display: inline-block;
  }
}
.skill-title {
  color: $main-font-color;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skill-list {
  color: $highlight-font-color;
  font-size: 19px;
}

.tools-image-container {
  margin-right: 30px;
}

.tools-image {
  margin-bottom: 50px;
}

.frontend-image {
  margin-bottom: 13px;
  width: 100%;
}

.book-image-container {
  margin-right: 20px;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  @include mquery(1000) {
    grid-template-columns: 2fr 1fr;
  }
}

ul.frontend-list {
  grid-template-columns: 1fr;
  @include mquery(1000) {
    grid-template-columns: 2.5fr 1fr;
  }
}
