@import "src/App.scss";

@mixin mquery($size) {
  @if $size == lg {
    @media (min-width: 1600px) {
      @content;
    }
  } @else if $size == 1300 {
    @media (min-width: 1300px) {
      @content;
    }
  } @else if $size == 550 {
    @media (min-width: 550px) {
      @content;
    }
  } @else if $size == 1000 {
    @media (min-width: 1000px) {
      @content;
    }
  } @else if $size == 770 {
    @media (min-width: 770px) {
      @content;
    }
  } @else if $size == xs {
    @media (min-width: 340px) {
      @content;
    }
  }
}

.project-container {
  position: relative;
  background-color: $muted-background-color;
  border-radius: 10px;
  margin: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid $muted-background-color;
  @include mquery(550) {
    border: 20px solid $muted-background-color;
  }
  @include mquery(1000) {
    border: 50px solid $muted-background-color;
  }
}

.project-img {
  width: 80%;
}

.hover-container {
  display: none;
}

.title {
  color: $highlight-font-color;
  font-size: 23px;
  font-weight: bold;
  background-color: $muted-background-color;
  border-radius: 5px;
  padding: 3px;
}

.description {
  color: $clear-text;
  display: none;
  font-size: 19px;
  background-color: $muted-background-color;
  border-radius: 5px;
  padding: 3px;

  @include mquery(700) {
    display: block;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
}

.live-site {
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  background-color: $highlight-font-color;
  color: $body-background-color;
}

.live-site:hover {
  background-color: $highlight-font-color-hover;
}

.code {
  @extend .live-site;
  background-color: $muted-background-color;
  color: $highlight-font-color;
}

.code:hover {
  background-color: $muted-background-color-hover;
}

.button-container a {
  text-decoration: none;
  color: inherit;
}

.project-container:hover {
  .hover-container {
    display: flex;
    flex-direction: column;
    height: 120%;
    width: 110%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 900;
  }

  .project-img {
    filter: blur(1px);
    animation: makeImageBigger 1s forwards;
  }
}

@keyframes makeImageBigger {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
