@import 'src/App.scss';

@mixin mquery($size) {
  @if $size == 600 {
    @media (min-width: 600px) {
      @content;
    }
  }
}

.contact-main-title {
  font-size: 100px;
  transform: rotate(-55deg);
  max-width: 30%;
  z-index: -20;
  opacity: 0.1;

  @include mquery(600) {
    opacity: 1;
  }
}

h1 {
  color: $highlight-font-color;
  font-weight: normal;
  font-size: 22px;
}

form {
  margin: auto;
  width: 50%;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

input {
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  height: 20px;
  padding-left: 10px;
}

label {
  color: white;
  padding-right: 10px;

  margin-bottom: 20px;
}

.btn-contact {
  border: none;
  border-radius: 10px;
  background-color: $highlight-font-color;
  color: black;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}
